$secondary-color: #02274A;

.text {

  max-width: 45em;
  margin: auto;
  padding: 1em 15px;

  > p, h1, h2, h3, h4, h5 {
    text-align: justify;
  }
}

body {
  color: $secondary-color;
}

.without-sides-padding {
  padding-left: 0;
  padding-right: 0;
}

// Home
.highlight-text {

  color: #B19D64;
  h1, h3 {
    line-height: 0.5;
  }

  @media (min-width: 480px) {
    h1, h3 {
      font-size: 60px;
    }
  }

  @media (max-width: 479px) {
    h1, h3 {
      font-size: 24px;
    }
  }
}

// Collaborator
.collaborator {
  height: 380px
}

// members
.member {
  display: flex;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.member-text {
  padding: 5px;
  width: 50%;
  height: 100%;
  text-align: left;
}

.member.reverse {
  @extend .member;

  @media (min-width: 768px) {
    flex-direction: row-reverse;
  }
}

.member-text.reverse {
  @extend .member-text;

  @media (min-width: 768px) {
    text-align: right;
  }
}

.arrow {
  position: absolute;
  top: 40%;
  right: 0;
  transform: scaleX(-1);
}

.arrow.reverse {
  @extend .arrow;

  @media (min-width: 768px) {
    left: 0;
    right: auto;
    transform: none;
  }
}